
<%= form_tag '/login' do %>

  <div class="rhede-container-login">
    <h1 class="rhede-title">Access Interestelar System</h1>
    
    <% if flash[:success] %>
      <div class="rhede-message success"><%= flash[:success] %></div>
    <% elsif flash[:error] %>
      <div class="rhede-message error"><%= flash[:error] %></div>
    <% end %>

    <div class="rhede-form-group">
      <%= label_tag :email, 'Email', class:"rhede-label"%>
      <%= text_field_tag :email, nil, class:"rhede-field" %>
    </div>

    <div class="rhede-form-group">
      <%= label_tag :password, 'Password', class:"rhede-label"%>
      <%= password_field_tag :password, nil, class:'rhede-field' %>
    </div>

    <div class="rhede-button-group">
      <%= link_to "Cancel", {:controller => :welcome, :action => 'index'}, {class: "rhede-button"} %>
      <%= submit_tag "Access", class:"rhede-button" %>
    </div>

  </div>
  
<% end %>