<div class="rhede-container-login">

  <% if current_user %>
    <h1 class="rhede-title"><%= current_user.name %>, what do you want to do?</h1>
    <div class="rhede-button-group">
      <%= link_to "Logout", {:controller => :sessions, :action => 'destroy'}, {class: "rhede-button"} %>
      <%= link_to "Show my enroll", user_path(id: current_user.id),  {class: "rhede-button"} %>
      <%= link_to "Edit my enroll", edit_user_path(id: current_user.id),  {class: "rhede-button"} %>
    </div>
  <% end %>

</div>