<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <p class="rhede-message error"><%= msg %></p>
    <% end %>
  <% end %>
    
    <% if flash[:success] %>
      <div class="rhede-message success"><%= flash[:success] %></div>
    <% elsif flash[:error] %>
      <div class="rhede-message error"><%= flash[:error] %></div>
    <% end %>


  <div class="rhede-form-group ">
    <%= f.label :name, class:'rhede-label' %>
    <%= f.text_field :name, class:'rhede-field' %>
  </div>

  <div class="rhede-form-group ">
    <%= f.label :email, class:'rhede-label' %>
    <% if @user.email.present? %>
      <%= f.email_field :email, class:'rhede-field', disabled: true%>
    <% else %>
      <%= f.email_field :email, class:'rhede-field'%>
    <% end %>
  </div>

  <div class="rhede-form-group ">
    <%= f.label :genre, class:'rhede-label' %>
    <%= f.select(:genre, ['Male', 'Female'], {prompt: 'Select Genre'}, {class:'rhede-field'} ) %>
  </div>

  <div class="rhede-form-group ">
    <%= f.label :category, class:'rhede-label' %>
    <%= f.select(:category, ['Analyst', 'Programmer', 'Manager'], {prompt: 'Select Category'}, {class:'rhede-field'} ) %>
  </div>

  <div class="rhede-form-group ">
    <%= f.label :password, class:'rhede-label' %>
    <%= f.password_field :password, class:'rhede-field'%>
  </div>

  <div class="rhede-form-group ">
    <%= f.label :password_confirmation, class:'rhede-label' %>
    <%= f.password_field :password_confirmation, class:'rhede-field'%>
  </div>

  <div class="rhede-button-group ">
    <%= link_to "Cancel", {:controller => :welcome, :action => 'index'}, {class: "rhede-button"} %>
    <%= f.submit yield(:button_text), class:'rhede-button' %>
  </div>

<% end %>