<% if @user %>
  <%= form_for(@user) do |f| %>

    <h1 class="rhede-title">Informations of <%= @user.name %></h1>

      
    <% if flash[:success] %>
      <div class="rhede-message success"><%= flash[:success] %></div>
    <% elsif flash[:error] %>
      <div class="rhede-message error"><%= flash[:error] %></div>
    <% end %>

    <div class="table">
      <%= f.label :name, class: 'rhede-label tbody theader left' %>
      <%= f.label nil, @user.name, class: 'rhede-label tbody tcontent left'%>
    </div>

    <div class="table">
      <%= f.label :email, class: 'rhede-label tbody theader left' %>
      <%= f.label nil, @user.email, class: 'rhede-label tbody tcontent left'%>
    </div>

    <div class="table">
      <%= f.label :genre, class: 'rhede-label tbody theader left' %>
      <%= f.label nil, @user.genre, class: 'rhede-label tbody tcontent left'%>
    </div>

    <div class="table">
      <%= f.label :category, class: 'rhede-label tbody theader left' %>
      <%= f.label nil, @user.category, class: 'rhede-label tbody tcontent left'%>
    </div>

    <div class="table">
      <%= f.label :code, class: 'rhede-label tbody theader left' %>
      <%= f.label nil, @user.code, class: 'rhede-label tbody tcontent left'%>
    </div>

    <div class="rhede-button-group">
      <%= link_to "Back Home Page", {:controller => :welcome, :action => 'index'}, {class: "rhede-button"} %>
      <% if current_user %>
        <%= link_to "Panel", {:controller => :sessions, :action => 'index'}, {class: "rhede-button"} %>
      <% end %>
    </div>


  <% end %>
<% else %>
  
  <%= form_tag '/search' do %>

    <div class="rhede-container-login">

      <h1 class="rhede-title">Search for an future soldier</h1>
      
      <% if flash[:success] %>
        <div class="rhede-message success"><%= flash[:success] %></div>
      <% elsif flash[:error] %>
        <div class="rhede-message error"><%= flash[:error] %></div>
      <% end %>

      <div class="rhede-form-group">
        <%= label_tag :code, 'Code', class:"rhede-label"%>
        <%= text_field_tag :code, nil, class:"rhede-field" %>
      </div>

      <div class="rhede-button-group">
        <%= link_to "Back Home Page", {:controller => :welcome, :action => 'index'}, {class: "rhede-button"} %>
        <% if current_user %>
          <%= link_to "Panel", {:controller => :sessions, :action => 'index'}, {class: "rhede-button"} %>
        <% end %>
        <%= submit_tag "Search", class:"rhede-button" %>
      </div>

    </div>
    
  <% end %>
<% end %>
