<%= form_for(@user) do |f| %>

  <h1 class="rhede-title">Informations of <%= @user.name %></h1>

    
  <% if flash[:success] %>
    <div class="rhede-message success"><%= flash[:success] %></div>
  <% elsif flash[:error] %>
    <div class="rhede-message error"><%= flash[:error] %></div>
  <% end %>

  <div class="rhede-form-group ">
    <%= f.label :name, class: 'rhede-label' %>
    <%= f.text_field :name, class: 'rhede-field', disabled: true%>
  </div>

  <div class="rhede-form-group ">
    <%= f.label :email, class: 'rhede-label' %>
    <%= f.email_field :email, class: 'rhede-field', disabled: true%>
  </div>

  <div class="rhede-form-group ">
    <%= f.label :genre, class:'rhede-label' %>
    <%= f.text_field :genre, class: 'rhede-field', disabled: true%>
  </div>

  <div class="rhede-form-group ">
    <%= f.label :category, class:'rhede-label' %>
    <%= f.text_field :category, class: 'rhede-field', disabled: true%>
  </div>

  <div class="rhede-form-group ">
    <%= f.label :code, class: 'rhede-label' %>
    <%= f.text_field :code, class: 'rhede-field', disabled: true%>
  </div>


    <div class="rhede-button-group">
      <%= link_to "Back Home Page", {:controller => :welcome, :action => 'index'}, {class: "rhede-button"} %>
      <% if current_user %>
        <%= link_to "Panel", {:controller => :sessions, :action => 'index'}, {class: "rhede-button"} %>
      <% end %>
    </div>


<% end %>