<div class="rhede-container-login">
    
  <% if flash[:success] %>
    <div class="rhede-message success"><%= flash[:success] %></div>
  <% elsif flash[:error] %>
    <div class="rhede-message error"><%= flash[:error] %></div>
  <% end %>
  
  <% unless current_user %>
    <h1 class="rhede-title">Welcome to the Interstellar System </h1>
    <div class="rhede-button-group">
      <%= link_to "Access", {:controller => :sessions, :action => 'create'}, {class: "rhede-button"} %>
      <%= link_to "Enroll", {:controller => :users, :action => 'new'}, {class: "rhede-button"} %>
      <%= link_to "Search Soldier", {:controller => :users, :action => 'search'}, {class: "rhede-button"} %>
    </div>
  <% else %>
    <h1 class="rhede-title">Welcome <%= current_user.name %></h1>
    <div class="rhede-button-group">
      <%= link_to "Panel", {:controller => :sessions, :action => 'index'}, {class: "rhede-button"} %>
    </div>
  <% end %>
</div>

