/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  //single colors
  $blue-star: #5cc8c7;
  $blue-star-focus: #31605f;
  $green-star: #96ff84;
  $green-star-focus: #71b865;
  $red-star: #cb8d8e;
  //gradient colors
  $gradient-block-color: linear-gradient(to right, $green-star, #82dd72, #6ed7d7 , $blue-star, white);

  //background
  $background-stars: url('http://kb4images.com//images/space-hd-wallpapers/35841795-space-hd-wallpapers.jpg');

  .rhede-background {
    background-image: $background-stars;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    margin-top: 10%;
    padding-top: 30px;
  }
  .rhede-block {
    margin: auto;
    min-height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 5px solid;
    border-image: $gradient-block-color;
    border-image-slice: 1;
    padding-top: 20px;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  
  .rhede-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }

  .rhede-form-group {
    margin: auto;
    width: 50%;
    padding: 10px;
    max-width: 300px;
  }

  .rhede-label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }


  .table {
    padding: 10px;
    margin-left: 15%;
  }

  .tbody {
    display: inline-block !important;
    min-width: 100px;
    background-color: white;
    color: black;
    padding: 10px;
    &.theader {
      min-width: 100px;
    }
    
    &.tcontent {
      min-width: 250px;
    }
  }

  .left {
    text-align: left;
  }

  .rhede-field {
    display: block;
    height: 20px;
    margin: auto;
    border: none;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    background-color: white;
  }
  
  .rhede-button {
    display: block;
    margin: auto;
    background-color: $blue-star;
    border: none;
    color: white;
    padding: 15px 32px;
    font-weight: bold;
    border-radius: 5px;
    &:active{
      background-color: $blue-star-focus;
      border: 2px solid white;
      border-style: dotted;
    }
    &:hover{
      border: 2px solid white;
      border-style: dotted;
    }
  }

  .rhede-button-group {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */  
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    .rhede-button {
      display: inline-block !important;
      text-decoration: none !important;
    }
  }
  
  .rhede-container-login {
    margin-top: 25%;
  }

  .rhede-message {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    &.success {
      background-color: $green-star-focus;
    }
    &.error {
      background-color: $red-star;
    }
  }